/* Hero Section */
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(15, 6, 42, 1) 0%, rgba(255, 255, 255, 0) 80%), url('images/gradstudent.jpeg');
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 6, 42, 0.65);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.25rem;
}

.container h2 {
  font-size: 3rem;
}

.empower-title {
  margin-top: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100 !important;
  font-style: normal;
  font-size: 120px !important;
  line-height: 150px;
}

.btn {
  font-size: 1.25rem !important;
  padding: 0.75rem 2rem !important;
}

.experts {
  margin-top: 4rem;
  background: linear-gradient(0deg, rgba(94, 62, 182, 1) 20%, rgba(15, 6, 42, 1) 100%);
}

.pillars {
  background: linear-gradient(0deg, rgba(15, 6, 42, 1) 0%,  rgba(94, 62, 182, 1) 100%);
  color: white;
}

.feature-box {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  perspective: 1000px;
  transition: transform 0.3s;
  pointer-events: all;
}

.feature-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.feature-box:hover {
  animation: jumpAndShake 0.6s ease-in-out;
}

.feature-box-front,
.feature-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(255, 225, 68, 1) 0%, rgba(211, 181, 99, 1) 13%, rgba(170, 139, 128, 1) 35%, rgba(140, 108, 150, 1) 61%, rgba(94, 62, 182, 1) 100%);
  color: white;
}

.feature-box-front h3 {
  font-size: 1.75rem;
}

.feature-box-back {
  transform: rotateY(180deg);
  font-size: 1rem;
}

.flipped .feature-box-inner {
  transform: rotateY(180deg);
}

@keyframes jumpAndShake {

  0%,
  100% {
    transform: translateY(0) rotate(0);
  }

  25% {
    transform: translateY(-5px) rotate(-1deg);
  }

  50% {
    transform: translateY(0) rotate(1deg);
  }

  75% {
    transform: translateY(-5px) rotate(-1deg);
  }
}



/* Unique Services Section */
.unique-services-div {
  background-color: #5E3EB6;
  color: white;
}

.unique-services-div h2 {
  text-align: center;
  font-size: 3rem;
}

.unique-services-container {
  position: relative;
  z-index: 2;
  max-width: 1200px !important;
}


.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.flex-row i {
  font-size: 1.2rem;
  margin: 0 5px;
  color: #FFE144;
}

.line {
  border: 2px solid #FFE144;
  opacity: 1.0;
}

.unique-service-section {
  margin-bottom: 50px;
}

.unique-service-section h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.unique-service-section p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.75rem;
}

.unique-service-section ul {
  list-style: disc;
  padding-left: 20px;
}

.unique-service-section ul li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.link {
  color: white;
}

/* join clearpillar section */
.join {
  background-color: #0F062A;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.join h2 {
  margin-bottom: 20px;
}

.join p {
  margin-bottom: 30px;
}


.center {
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
}

.star-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  align-items: center;
  gap: 1rem;
}

.star-items i {
  color: #FFE144;
  padding-left: 8px;
  padding-right: 10px;
  font-size: 2rem;
}

.line-container {
  width: 350px;
}

.line {
  border: 1px solid #FFE144;
  opacity: 1.0;
}

.line-margin {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  background-color: #ccc; 
}