
/* only for the AdmissionStrategy.js*/
.notepad {
    background-color: #fffbea;
    padding: 20px;
    border-left: 5px solid #ffd700;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.notepad h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #1e3c72;
    margin-bottom: 10px;
}

.notepad p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}